<div class="container mt-3 padding">
	<div class="row">
		<div class="col-md-8 col-center m-auto">
			<h2>Developers</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="img-box"><img src="https://media.licdn.com/dms/image/C4E03AQGsuFuqQLpVKA/profile-displayphoto-shrink_100_100/0?e=1556150400&v=beta&t=ah7ts7C9zexXdwisM_XykHNV-fZ5EAM-32fcAD9Fbow" alt=""></div>
            <p class="testimonial">Life is a journey. You have to walk a million miles.</p>
            <p class="overview"><b>Shivam Manawat,<br></b>Mean Stack Developer</p>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="https://media.licdn.com/dms/image/C5103AQEg7rnV6sKT_g/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=swfiRd6VsmDIuTIreTsXASjEKEAE_5VC4DjYAzxvWZA" alt=""></div>
						<p class="testimonial">Success come to those who deserves it.</p>
            <p class="overview"><b>Varsha Singh,<br></b>Mean Stack Developer</p>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="https://media.licdn.com/dms/image/C5103AQE73MuVYTzGGQ/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=UxmVQttQuQBKqt4uzNnh4wvhPSEv5U2TsLpC069dhOs" alt=""></div>
            <p class="testimonial">Where there is a will there is a way.</p>
            <p class="overview"><b>Siddarth,<br></b>Mean Stack Developer</p>
          </div>
          <div class="item carousel-item">
						<div class="img-box"><img src="https://media.licdn.com/dms/image/C5103AQE1k2LMJw5Qng/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=VYDFKFAJbB-zaHKsDhgA1AKACpPZ1v3ncURkVQj3YMg" alt=""></div>
            <p class="testimonial">Hard work leads to success.</p>
            <p class="overview"><b>Pawan Singh,<br></b>Mean Stack Developer</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>