<!-- <div class="container">


  <h2 class="page-header">Addtask</h2>
  <form (submit)="onaddtaskSubmit()" >
    <div class="form-group">
      <label for="taskId">Task Id</label>
      <input type="text" [(ngModel)]="taskId" name="taskId" class="form-control" id="taskId" placeholder="Enter Task Id">
    </div>
    <div class="form-group">
    <label for="taskName">Task Name</label>
      <input type="text" [(ngModel)]="taskName" name="taskName" class="form-control" id="taskName" placeholder="Enter Task Name">
    </div>
    
    <div class="form-group">
      <label for="taskDesc">Task Description</label>
        <input type="text" [(ngModel)]="taskDesc" name="taskDesc" class="form-control" id="taskDesc" placeholder="Enter Task Description">
      </div>

      <div class="form-group">
        <label for="taskHandler">Task Handler</label>
          <input type="text" [(ngModel)]="taskHandler" name="taskHandler" class="form-control" id="taskHandler" placeholder="Enter Task Handler">
        </div>

        <div class="form-group">
          <label for="taskClientName">Task Client Name</label>
            <input type="text" [(ngModel)]="taskClientName" name="taskClientName" class="form-control" id="taskClientName" placeholder="Enter Task Client Name">
          </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
 -->



 <div class="container mt-3 padding" align="center" >
  <h1>ADD Task</h1>
  <div class="col-6 col-offset-3" >
<div class="panel panel-default">
<br>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="onaddtaskSubmit()">

  <div class="form-group">
    <label for="taskId" class="col-sm-2 control-label">TaskId </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="taskId" name="taskId" >
    </div>
  </div>

  <div class="form-group">
    <label for="taskName" class="col-sm-2 control-label">TaskName </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="taskName" name="taskName">
    </div>
  </div>

  <div class="form-group">
    <label for="taskDesc" class="col-sm-2 control-label">TaskDescription </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="taskDesc" name="taskDesc" >
    </div>
  </div>
  
  <div class="form-group">
    <label for="taskHandler" class="col-sm-2 control-label">TaskHandler </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="taskHandler" name="taskHandler" >
    </div>
  </div>
  
  <div class="form-group">
    <label for="taskClientName" class="col-sm-2 control-label">TaskClientName </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="taskClientName" name="taskClientName" >
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-primary">Add Task</button>
      <a class="btn btn-dark"  		routerLink="/dashboard">Go Back</a> 
    </div>
   <br>
   <br>
  </div>
</form>

  </div>
</div>
</div>
</div>    
