

  <footer class="mybgcolor">
    <div class="container-fluid padding">
        <div class="row text-center">
        
          <div class="col-md-4">
              <hr class="light">
              <h5 class="zoom"> Quick links</h5>
              <hr class="light">
          
              <p><a class="colormylink" [routerLink]="['/login']">Login</a></p>
              <p><a  class="colormylink" [routerLink]="['/register']">Sign Up</a></p>
              <p><a class="colormylink" [routerLink]="['/']">Home</a></p>
              <p><a class="colormylink"[routerLink]="['/aboutus']">Aboutus</a></p>
    
          </div>
          
          <div class="col-md-4">
            <hr class="light">
            <h5 class="zoom">  Company Info</h5>
            <hr class="light">
          
            <p class="mb10">MobiLyte, a well-established and fast growing IT services company, consistently strive to provide innovative solutions and business value.</p>
            <p><i class="fa fa-location-arrow"></i> E-40, Phase 8, Industrial Area, Sahibzada Ajit Singh Nagar, Punjab 160071 </p>
            <p><i class="fa fa-phone"></i>  0172 467 7163 </p>
            <p><i class="fa fa fa-envelope"></i> ERP@mobilte.com</p>
          
          </div>
          
          <div class="col-md-4">
            <hr class="light">
            <h5 class="zoom"> Quick links</h5>
            <hr class="light">
              <!-- <p ><a class="colormylink" href="/alltaskpage">Task</a></p>
              <p><a class="colormylink" href="/allprospectpage">Prospect</a></p>
              <p><a class="colormylink" href="/leftnavigation">Left Navigation</a></p> -->
              <p><a class="colormylink"[routerLink]="['/login']">Login</a></p>
              <p><a class="colormylink" [routerLink]="['/register']">Sign Up</a></p>
              <p><a class="colormylink"[routerLink]="['/']">Home</a></p>
              <p><a class="colormylink"[routerLink]="['/aboutus']">Aboutus</a></p>
          </div>
          
        </div>
          <hr class="light">
      </div>
      <div class="container-fluid padding">
      
        <div class="row text-center">
        <div class="col-12">
        
        <h6 >Copyright @2018 | Designed With by </h6><h6><a href="/">ERP</a></h6>
        </div>
        
        </div>
      </div>
    
  
    </footer>