
<div class="container mt-3 padding">

  <br>
  <br>
  <h2>
    Show Task
  </h2>
  <br>
  <br>
<table class="table table-bordered">
  <thead>
  <tr>
    <td>TaskId</td>
    <td>TaskName</td>
    <td>TaskClientName</td>
    <td>TaskDescription</td>
    <td width="250" align="center">Action</td>
  </tr>
  </thead>
  <tbody>
   <tr  *ngFor="let task of tasks">
    <td>	{{task.taskId}}	 </td>
    <td>	{{task.taskName}} </td>
    <td>	{{task.taskClientName}} </td>
    <td>	{{task.taskDesc}} </td>
    <td width="250"> 
      <a class="btn btn-info" 	routerLink="/detailtask/{{task._id}}">Detail</a> 
      <!-- <a class="btn btn-primary"  		routerLink="/edittask/{{task._id}}">Edit</a> -->
      <a class="btn btn-primary"  		routerLink="/edittask/{{task._id}}">Edit</a>
      <a class="btn btn-danger" 		routerLink="/showtask"		(click)=" ondeleteClick(task._id)" >Delete</a>
    </td>
   </tr>
  </tbody>
</table>
 <a class="btn btn1 btn-primary"  		routerLink="/addtask">AddTask</a>
 <a class="btn btn1 btn-dark"  		routerLink="/dashboard">GoBack</a>
</div>
