<div class="parallax">
        <div class="container mt-3 padding">
        
                <h2 class="page-header mytext" >Reset Password</h2>
                <form class="Reset Password" (submit)="onresetSubmit()">
                        
                        <div class="form-group">
                        <label class="mytext" for="Password">Password</label>
                        <input type="password" class="form-control" placeholder=" Enter the Password" [(ngModel)]="password" name="password">
                        </div>
                        <input class="btn btn-lg btn-primary" type="submit" value="Confirm Password">        
                </form>
                
        </div>
</div>