<div class="container mt-3 padding">

  
<br>
<br>

<div *ngIf="task">
  <h2>
    Detail Task - {{task[0].taskName|uppercase}}
  </h2>

<ul class="list-group">
    <!-- <li class="list-group-item">Name : {{task.taskId}}</li> -->
    
    <li class="list-group-item">Task Id : {{task[0].taskId}}</li>
    <li class="list-group-item">Task Name : {{task[0].taskName}}</li>
    <li class="list-group-item">Task Client Name : {{task[0].taskClientName}}</li>
    <li class="list-group-item">Task Handler Name : {{task[0].taskHandler}}</li>
    <li class="list-group-item">Task Description : {{task[0].taskDesc}}</li>
</ul>
</div>
<br>
<a class="btn btn-dark"  		routerLink="/showtask">Go Back</a> 
</div>
